html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url('../images/addstudent.jpg');
  background-size: contain; /* Adjust as needed */
  background-position: center;
  font-family: Arial, sans-serif;
  color: #fff; /* Text color */
  overflow-y: hidden;
}

.wrapper {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 80%; /* Adjust this value to your liking */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2{
    color: green;
    text-align: center;
}

th {
    background: green; /* This will give a yellow highlight */
}

input[type="submit"] {
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

input[type="submit"]:hover {
    background-color: green;
}
input[type="number"] {
    color: #000; /* Black color for text */
}

