body {
    display: flex;
    justify-content: center;
    align-items: top;
    min-height: 100vh;
    background: url('../images/login.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}

.wrapper {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: green;
    background-color: black;
}

th {
    background: green; /* This will give a yellow highlight */
}